<ion-row>
  <ion-col size="5">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-col>
  <ion-col size="1">
    <ion-header>
      <ion-toolbar  color="dark">
        <ion-title id="{{equipo1}}" class="letras">
          0
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-col>
  <ion-col size="1">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title id="{{equipo2}}" class="letras" >
          0
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-col>
  <ion-col size="5">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-col>
</ion-row>

<ion-content>
  <ion-row>
    <ion-col size="6">
      <div>
        <ion-label>Equipo 1</ion-label>
        <ion-select [(ngModel)]="equipo1" placeholder="Elija un equipo" (ionChange)="getPlayers(equipo1,'a')">
          <ion-select-option [disabled]="team.Equipo === equipo2" *ngFor="let team of Teams" value="{{team.Equipo}}">{{team.Equipo}}</ion-select-option>
        </ion-select>
        <ion-list>
          <ng-container *ngFor="let player1 of Players1"> 
            <ion-item-divider>Entrenador</ion-item-divider>
            <ion-item>
              <ion-label>{{player1.Entrenador}}</ion-label>
            </ion-item>
              
            <ion-item-divider>Jugadores</ion-item-divider>
            <ion-item *ngFor="let jug of player1.jugadores; let i = index" id="{{jug}}">
              <ion-label (click)="presentAlert(jug,equipo1,pb.el.id)" slot="start" >{{jug}} 
                <ion-badge #ppb id="1pun{{i}}" color="danger">0</ion-badge>
                <ion-badge #pb id="1per{{i}}" color="primary">0</ion-badge>
                <ion-badge #bb id="1tec{{i}}" color="warning">0</ion-badge>
              </ion-label>
              <ion-checkbox slot="end" [(ngModel)]="pl1[i].selected"></ion-checkbox>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>
    </ion-col>

    <ion-col size="6">
      <div>
        <ion-label>Equipo 2</ion-label>
        <ion-select [(ngModel)]="equipo2" placeholder="Elija un equipo" (ionChange)="getPlayers(equipo2,'b')">
          <ion-select-option [disabled]="team.Equipo === equipo1" *ngFor="let team of Teams" 
            value="{{team.Equipo}}">{{team.Equipo}}
          </ion-select-option>
        </ion-select>
        <ion-list>
          <ng-container *ngFor="let player2 of Players2"> 
            <ion-item-divider>Entrenador</ion-item-divider>
            <ion-item>
              <ion-label>{{player2.Entrenador}}</ion-label>
            </ion-item>
            <ion-item-divider>Jugadores</ion-item-divider>
            <ion-item *ngFor="let jug of player2.jugadores; let i = index" id="{{jug}}" >
              <ion-label (click)="presentAlert(jug,equipo2,pb.el.id)" slot="start" >{{jug}} 
                  <ion-badge #ppb id="2pun{{i}}" color="danger">0</ion-badge>
                <ion-badge #pb id="2per{{i}}" color="primary">0</ion-badge>
                <ion-badge #bt id="2tec{{i}}" color="warning">0</ion-badge>
              </ion-label>
              <ion-checkbox slot="end" [(ngModel)]="pl2[i].selected"></ion-checkbox>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button color="primary" (click)="presentModal()" expand="block">Historial</ion-button>
  </ion-toolbar>
  <ion-button (click)="getChecked()">Finalizar</ion-button>
</ion-footer>