<ion-header>
  <ion-toolbar>
    <ion-title>
      Juego
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="presentModal()">Historial</ion-button>
  <ion-row>
    <ion-col size="6">
      <div>
        <ion-label>Equipo 1</ion-label>
        <ion-select [(ngModel)]="equipo1" placeholder="Elija un equipo" (ionChange)="getPlayers(equipo1,'a')">
          <ion-select-option [disabled]="team.Equipo === equipo2" *ngFor="let team of Teams" value="{{team.Equipo}}">{{team.Equipo}}</ion-select-option>
        </ion-select>
        <ion-list>
          <!--<ion-item *ngFor="let player1 of Players1" (click)="presentModal(player1.Nombre)" >-->
          <!--<ion-item *ngFor="let player1 of Players1" (click)="presentAlert(player1.Nombre)" >
            <ion-label>{{player1.jugadores[0]}}</ion-label>
          </ion-item>-->
          <ng-container *ngFor="let player1 of Players1"> 
            <ion-item-divider>Entrenador</ion-item-divider>
            <ion-item>
              <ion-label>{{player1.Entrenador}}</ion-label>
            </ion-item>
              
            <ion-item-divider>Jugadores</ion-item-divider>
            <ion-item *ngFor="let jug of player1.jugadores; let i = index" (click)="presentAlert(jug,badge.el.id)" >
              <ion-label id="{{jug}}">{{jug}} <ion-badge #badge id="1badge{{i}}" color="primary">0</ion-badge></ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>
    </ion-col>

    <ion-col size="6">
      <div>
        <ion-label>Equipo 2</ion-label>
        <ion-select [(ngModel)]="equipo2" placeholder="Elija un equipo" (ionChange)="getPlayers(equipo2,'b')">
          <ion-select-option [disabled]="team.Equipo === equipo1" *ngFor="let team of Teams" 
            value="{{team.Equipo}}">{{team.Equipo}}
          </ion-select-option>
        </ion-select>
        <ion-list>
          <!--<ion-item *ngFor="let player2 of Players2" (click)="presentAlert(player2.Nombre)" >
            <ion-label>{{player2.Nombre}}</ion-label>
          </ion-item>-->
          <ng-container *ngFor="let player2 of Players2"> 
            <ion-item-divider>Entrenador</ion-item-divider>
            <ion-item>
              <ion-label>{{player2.Entrenador}}</ion-label>
            </ion-item>
            <ion-item-divider>Jugadores</ion-item-divider>
            <ion-item *ngFor="let jug of player2.jugadores; let i = index" (click)="presentAlert(jug,badge.el.id)" >
              <ion-label id="{{jug}}">{{jug}} <ion-badge #badge id="2badge{{i}}" color="primary">0</ion-badge></ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>
  <ion-button *ngIf="equipo1 == 'alfa'">Prueba</ion-button>
</ion-content>